<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
	<!-- General -->
	<category label="General">
		<setting label="The Pirate Streaming uses it's own settings window." type="text" enable="false" />
		<setting label="Open The Pirate Streaming Settings..." type="action" option="close" action="RunPlugin(plugin://plugin.video.pirate/?mode=open_settings)" />
	</category>
</settings>
